/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px;
}

.logo {
    width: 100px; /* Adjust as needed */
}

.dropdown{
    display: none;
}
nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.home-content {
    padding: 20px;
    background: #007bff;
    text-align: center;
    margin: 20px 0;
}

.company-name {
    font-size: 2.5em; /* Adjust as needed */
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Change to a stylish font if desired */
}

.responsive-image {
    width: 40%;
    max-width: 60vw; /* Cover 60% of the viewport width */
    height: auto; /* Maintain aspect ratio */
}

.about{
    padding: 50px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
}
.para-a{
    width: 60%;
}

.about-image {
    margin-left: 10px;
    width: 50%; /* Adjust to take 50% of the screen */
    height: auto; /* Maintain aspect ratio */
}

.services{
    background-color: #d1d1d1;
    padding: 80px;
    text-align: center;
}

.service{
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-right: 70px;
}

.service-image{
    width: 30%;
    height: auto;
    padding: 20px;
}

.contact{
    margin-top: 10%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    margin-top: 2rem;
  }
  
  form {
    align-items: center;
  }
  
  .form-group{
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

  form label {
    margin: 0.5rem 0 0.2rem;
    font-size: 1.1rem;
  }
  
  form input, form textarea, form button {
    width: 70%;
    background-color: #e4e3e3;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  form button:hover {
    background: #0056b3;
  }

@media (max-width: 700px) {


    .logo{
        display: none;
    }
    .logo-f{
        display: inline-block;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f8f8f8;
        top: 60px; /* Adjust based on header height */
        right: 20px;
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    .dropdown {
        display: block;
        padding-right: 20px;
        cursor: pointer;
    }

    .about-content {
        display: block;
    }

    .para-a{
        width: 100%;
    }

    .about-image {
        margin-left: 0px;
        width: 80%; /* Adjust to take 50% of the screen */
        height: auto; /* Maintain aspect ratio */
    }

    .services{
        padding: 50px;
        text-align: center;
        display: block;
    }

    .service{
        display: block;
    }
    
    .service-image{
        width: 70%;
        height: auto;
    }
    
}

  
